<div class="header">
  <nav class="header-top">
    <div class="header-menu">
      <!-- <div class="header-menu-icon">
        <mat-icon>menu</mat-icon>
      </div> -->
      <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" alt="" class="header-menu-logo">
      <!-- <div class="header-address-icon">
        <mat-icon class="address">room</mat-icon>
      </div> -->
      <div class="header-menu-address-text">
        <span class="header-menu-top-address-item"> Hello</span>
        <span class="header-menu-bottom-address-item"> Select your address</span>
      </div>
      <div class="header-menu-searchBar">
        <input type="text" class="searchBar-input">
        <div class="header-menu-searchBar-icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div class="header-menu-signIn">
        <span class="header-menu-top-item"> Hello, Please sign in</span>
        <span class="header-menu-bottom-item"> Accounts & Lists</span>
      </div>
      <div class="header-menu-signIn">
        <span class="header-menu-top-item"> Returns</span>
        <span class="header-menu-bottom-item"> & Orders</span>
      </div>
      <div class="header-menu-cart">
        <mat-icon>shopping_cart</mat-icon>
        <p class="header-cart-numbers">3</p>
      </div>
    </div>
  </nav>
  <nav class="header-bottom">
    <div class="header-bottom-location-text">
      <span class="header-left-line-one">Delivery to</span>
      <span class="header-left-line-two"> <Strong>Canada</Strong></span>
  </div>
  </nav>
  <mat-icon></mat-icon>
</div>
