<div class="container-fluid first-row">
  <div class="row first-row">
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn bg-primary">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
  </div>  
</div>
<div class="container-fluid">
  <div class="row second-row">
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn bg-primary">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
    <div class="col-md-3">
      <div class="products-1">
        <div class="product">
          <mat-card>
            <p> Xbox One X TB</p>
            <p>$<strong>400</strong></p>
            <img src="../../../assets/images/hp/hp-1.jpg" alt="" class="product-img">
          <button class="btn">Add to Cart</button>
          </mat-card>
        </div>
      </div>   
    </div>
  </div>  
</div>
